.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.spinner-wrapper {
  text-align: center;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 0.4rem;
}
